/*  This is css file for the Game of Thrones web site.

    Written by Alex Chalyy on 2/17/2019.    */

/*  This adds game of thrones font to everything.   */    

@font-face  {
    font-family: GOTFont; 
    src: url("../css/Game\ of\ Thrones.ttf");
} 

/*  This styles the body. */

body    {
    background-image: url("../images/game_of_thrones_hall_of_faces.jpg");
    font-family: GOTFont;
    color: white; 
}

/*  This styles the card body.  */

.card-body  {
    background-color: black;
    text-align: center;
}

/*  This pushes the card down. */

.card   {
    margin-top: 5%;
    width: 88%;
    margin-left: 5%;
    margin-bottom: 5%;
}

/*  This styles the game of thrones start button.   */

#start,
#submit  {
    color: white;
}

/*  This pushes the start button down.  */

.row3   {
    margin-top: 2%;
}

/*  This determines the font size of years. */

#years  {
    font-size: 150%;
}

/*  This styles the done button on quiz page. */

#done   {
    margin-top: 5%;
} 

/*  This shrinks the throne image on smaller screens.   */

@media only screen and (max-height: 1346px) {

    #throne {
        width: 50%;
    }
}

/*  More styling on small screens   */

@media only screen and (max-height: 414px), (max-width: 414px)  {
    .card   {
        margin-top: 5%;
    }

    .card-title   {
        font-size: 90%;
    }
}